<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComfortFood | All Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="container" id="users-container">
            <% for (let i = 0; i < users.length; i++) { %>
                <div class="user-container">
                    <h3 class="username">Username: <a href="users/<%= users[i].username %>"><%= users[i].username %></a></h3>
                    <p class="username">Email: <%= users[i].email %></p>
                    <p class="menus"><a href="#menus">Menus</a></p>
                    <p>Date Joined: <%= users[i].createdAt %></p>
                    <p>Last Updated: <%= users[i].updatedAt %></p>
                </div>
            <% } %>
        </div>
    </main>
</body>
</html>