<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png"/>
    <title><%= username %> | Menu</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main id="menu-main">
        <div class="hero">
            <img src="/img/food-column.jpg" alt="comfort-food-img">
        </div>
        <div id="menu-container" class="profile-main-container main-container">

            <div class="title">
                <h2> <%= menu.title %> (16 Items) </h2>
                <p class="privacy">(Public Menu)</p>
            </div>

            <div id="hero-child" class="hero">
                <img src="/img/food-column.jpg" alt="comfort-food-img">
            </div>
            
            <div class="account-info">
                <p class="username">Menu Owner: <%= username %></p>
                <p class="nickname">Menu Nickname: <%= menu.nickname %></p>
                <p class="foods">Menu Contents <span>&#x2193</span> </p>
                <div class="buttons">
                    <p class="button update"><a href="/update-menu">Update Menu</a></p>
                    <p class="button my-menus"><a href="/users/<%= username %>/menus">All My Menus</a></p>
                    <p class="button"><a class="delete-user btn-danger" data-id="<%= username %>" href="#">Delete Menu</a></p>
                </div>
            </div>
        </div>
        
    </main>
    <%- include('../partials/footer.ejs') %>

</body>
</html>