<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png"/>
    <title>Comfort Food - <%= username %> (Menus)</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="main-container">
            <h1 class="main-heading">My Menus</h1>
            <p class="main-sub-heading">Organize your different menus from this page!</p>
            <div class="buttons">
                <a href="/create-menu" class="button button1">New Menu</a>
                <a class="button button2">All Menus</a>
            </div>
            <div class="menus">
                <!-- <div class="menus"><%= menus %></div> -->
                <% for (let i = 0; i < menus.length; i++) { %>
                    <div class="user-container">
                        <h3 class="name">Title: <%= menus[i].title %></a></h3>
                        <h3 class="name">Nickname: <%= menus[i].nickname %></a></h3>
                        <p>Date Created: <%= menus[i].createdAt %></p>
                        <p>Last Updated: <%= menus[i].updatedAt %></p>
                        <p><a class="delete-user btn-danger" href="#">Delete Menu</a></p>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>

    <script type="module" type="text/javascript" src="/js/main.js"></script>
</body>
</html>