<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png"/>
    <title><%= username %> | Profile</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="main-container">
            <h2>My Profile</h2>
            <div class="account-info">
                <p class="username">Username: <%= username %></p>
                <p class="email">Email: <%= email %></p>
                <p class="date-joined">Date Joined: <%= dateJoined %></p>
                <p class="my-menus"><a href="/myMenus">My Menus</a></p>
            </div>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>