<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png"/>
    <title><%= username %> | Profile</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="profile-main-container main-container">
            <% if (message) { %>
                <p style="color: red;"><%= message %></p>
            <% } %>
            <h2>My Profile</h2>
            <div class="account-info">
                <p class="username">Name: <%= name %></p>
                <p class="username">Username: <%= username %></p>
                <p class="email">Email: <%= email %></p>
                <p class="date-joined">Date Joined: <%= dateJoined %></p>
                <p class="update"><a href="/update">Update My Info</a></p>
                <p class="my-menus"><a href="/myMenus">My Menus</a></p>
                <p><a class="delete-user btn-danger" data-id="<%= username %>" href="#">Delete Account</a></p>
            </div>
        </div>
        <div class="mobile-view">
            <div class="section section1">
                <div class="profile">
                    <div class="profile-img-container">
                        <img class="profile-img" src="/img/profile-pics/<%= profileImg %>" alt="profile-img">
                    </div>
                    <div class="profile-intro">
                        <h1><%= name.split(" ")[0] %></h1>
                        <h2><%= username %></h2>
                    </div>
                </div>
            </div>
            <div class="section section2">
                <p> <b>Username:</b> <%= username %></p>
                <p class="email"> <b>Email:</b> <%= email %></p>
                <p class="date-joined"> <b>Member Since:</b> <%= dateJoined %></p>
                <button class="button profile-button update"><a href="/update">Update My Info</a></button>
                <button class="button profile-button my-menus"><a href="/myMenus">My Menus</a></button>
                <button class="button profile-button"><a class="delete-user btn-danger" data-id="<%= username %>" href="#">Delete Account</a></button>
            </div>

            <div class="form upload-profile-img-form">
                <h4>Upload New Profile Picture</h4>
                <form id="profile-img-form" method="POST" action="/upload-profile-img" enctype="multipart/form-data">
                    <input id="profile-img-input" type="file" name="profile-img" required />
                    <input class="button" type="submit" />
                </form> 
                <img class="exit-btn" src="/img/exit-btn.png" alt="">
            </div> <!-- Pop-Up Form To Upload Profile Pic -->

        </div>
    </main>
    <%- include('partials/footer.ejs') %>

    <script src="/js/modules/users.js"></script>
    <script src="/js/modules/profile.js"></script>
</body>
</html>